@model PlainsOfPrimus.Models.Character

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            Weapon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weapon.Name)
        </dd>

        <dt>
            Helmet
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Helmet.Name)
        </dd>

        <dt>
            Chestplate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chestplate.Name)
        </dd>

        <dt>
            Leggings
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leggings.Name)
        </dd>

        <dt>
            Boots
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boots.Name)
        </dd>

        <dt>
            Achievements
        </dt>

        <dd>
            @{
                foreach (var achievement in Model.Achievements)
                {
                    @Html.ActionLink(achievement.Name + ";  ", "Details", "Achievement", new { id = achievement.Id }, null)
                }
            }
        </dd>

    </dl>
</div>
@{
    
}

