@model PlainsOfPrimus.Models.CharacterViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>




@using (Html.BeginForm(actionName: "Edit", controllerName: "Character", routeValues: new { id = @Model.Character.Id }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @*@Html.HiddenFor(b => b.IDFilm)*@

    <br />
    @Html.Label("Character.Name", "Name:")
    <br />
    @Html.EditorFor(b => b.Character.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(b => b.Character.Name, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Character.Class", "Class:")
    <br />
    @Html.EditorFor(b => b.Character.Class, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(b => b.Character.Class, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Character.Level", "Level:")
    <br />
    @Html.EditorFor(b => b.Character.Level, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(b => b.Character.Level, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Weapon", "Weapon:")
    <br />
    @Html.DropDownListFor(b => b.WeaponId, new SelectList(Model.Weapons, "Value", "Text"), "Choose a weapon", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.WeaponId, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Helmet", "Helmet:")
    <br />
    @Html.DropDownListFor(b => b.HelmetId, new SelectList(Model.Helmets, "Value", "Text"), "Choose a helmet", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.HelmetId, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Chestplate", "Chestplate:")
    <br />
    @Html.DropDownListFor(b => b.ChestplateId, new SelectList(Model.Chestplates, "Value", "Text"), "Choose a chestplate", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.ChestplateId, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Leggings", "Leggings:")
    <br />
    @Html.DropDownListFor(b => b.LeggingsId, new SelectList(Model.Leggings, "Value", "Text"), "Choose a pair of leggings", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.LeggingsId, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Boots", "Boots:")
    <br />
    @Html.DropDownListFor(b => b.BootsId, new SelectList(Model.Boots, "Value", "Text"), "Choose a pair of boots", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.BootsId, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Achievements", "Achievements:")
    <br />
    @Html.ListBoxFor(b => b.AchievementIds, new SelectList(Model.Achievements, "Value", "Text"))
    @Html.ValidationMessageFor(b => b.BootsId, "", new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-primary" type="submit">Update</button>
}
