<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="body-background">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Profile", "Details", "Character")</li>
                    <li>@Html.ActionLink("Weapons", "Index", "Weapon")</li>
                    <li>@Html.ActionLink("Armors", "Index", "Armor")</li>
                    <li>@Html.ActionLink("Achievements", "Index", "Achievement")</li>
                    <li>@Html.ActionLink("Tickets", "IndexPlayer", "Ticket")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="text-align: center">
            <img src="https://www.desktopbackground.org/download/1366x768/2013/03/29/552720_everquest-next-fantasy-mmo-rpg-action-fighting-online-sandbox_1920x1080_h.jpg" width="500rem" />
        </div>

        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
