@model PlainsOfPrimus.Models.Armor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Armor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArmorValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArmorValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Health)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Health)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intellect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intellect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agility)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
